.table-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px; 
    overflow: auto;
}

.table-container {
    display: flex;
}

table {
    border-collapse: collapse;
    width: 500px;
    font-family: Arial, sans-serif;
    text-align: center;
}

th, td {
    border: 3px solid black;
    padding: 8px;
}

th {
    background-color: #888888;
}

tr:hover {
    background-color: #d3fcfc;
}

h2 {
    font-family: Arial, sans-serif;
}
